<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css" type="text/css" />
  </head>
  <body>
    <header class="header__nav">
      <nav>
        <button class="hide">
          <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <title>menu</title>
            <rect x="4" y="6" width="24" height="2" />
            <rect x="4" y="24" width="24" height="2" />
            <rect x="4" y="12" width="24" height="2" />
            <rect x="4" y="18" width="24" height="2" />
            <rect
              id="_Transparent_Rectangle_"
              data-name="&lt;Transparent Rectangle&gt;"
              class="cls-1"
              width="32"
              height="32"
            />
          </svg>
        </button>
        <a href="../../index.html"><span>z3tz3r0</span></a>
      </nav>
    </header>
    <main class="main__section">
      <article class="section__content">
        <!-- https://www.ibm.com/design/language/typography/type-basics -->
        <section class="content__main_title">
          <h1>Components</h1>
        </section>
        <section class="content__main_desc">
          <p>WIP Place holder</p>
        </section>
      </article>
    </main>
    <aside class="sidebar">
      <ul class="sidebar__menu">
        <li class="sidebar__menu_item">
          <a href="../typography/typography.html" class="sidebar__btn">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                  }
                </style>
              </defs>
              <path
                d="M25,12H20v2h5a1.0008,1.0008,0,0,1,1,1v2H22a3.0033,3.0033,0,0,0-3,3v1a3.0033,3.0033,0,0,0,3,3h6V15A3.0033,3.0033,0,0,0,25,12ZM22,22a1.0008,1.0008,0,0,1-1-1V20a1.0008,1.0008,0,0,1,1-1h4v3Z"
              />
              <path
                d="M16,24h2L12,7H10L4,24H6l1.6936-5h6.6135ZM8.3711,17l2.4966-7.3711.2668.0005L13.63,17Z"
              />
              <rect
                id="_Transparent_Rectangle_"
                data-name="&lt;Transparent Rectangle&gt;"
                class="cls-1"
                width="32"
                height="32"
              />
            </svg>
            <span>Typography</span>
          </a>
        </li>
        <li class="sidebar__menu_item">
          <a href="../components/components.html" class="sidebar__btn">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                  }
                </style>
              </defs>
              <path
                d="M28.4473,16.1055,23,13.3818V7a1,1,0,0,0-.5527-.8945l-6-3a1.0008,1.0008,0,0,0-.8946,0l-6,3A1,1,0,0,0,9,7v6.3818L3.5527,16.1055A1,1,0,0,0,3,17v7a1,1,0,0,0,.5527.8945l6,3a1.001,1.001,0,0,0,.8946,0L16,25.1182l5.5527,2.7763a1.001,1.001,0,0,0,.8946,0l6-3A1,1,0,0,0,29,24V17A1,1,0,0,0,28.4473,16.1055ZM21,13.3818l-4,2V10.6182l4-2ZM16,5.1182,19.7637,7,16,8.8818,12.2363,7Zm-5,3.5,4,2v4.7636l-4-2ZM9,25.3818l-4-2V18.6182l4,2Zm1-6.5L6.2363,17,10,15.1182,13.7637,17Zm1,1.7364,4-2v4.7636l-4,2Zm10,4.7636-4-2V18.6182l4,2Zm1-6.5L18.2363,17,22,15.1182,25.7637,17Zm5,4.5-4,2V20.6182l4-2Z"
              />
              <rect
                id="_Transparent_Rectangle_"
                data-name="&lt;Transparent Rectangle&gt;"
                class="cls-1"
                width="32"
                height="32"
              />
            </svg>
            <span>Component</span>
          </a>
        </li>
        <li class="sidebar__menu_item">
          <a href="../colors/colors.html" class="sidebar__btn">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                  }
                </style>
              </defs>
              <title>color palette</title>
              <circle cx="10" cy="12" r="2" />
              <circle cx="16" cy="9" r="2" />
              <circle cx="22" cy="12" r="2" />
              <circle cx="23" cy="18" r="2" />
              <circle cx="19" cy="23" r="2" />
              <path
                d="M16.54,2A14,14,0,0,0,2,16a4.82,4.82,0,0,0,6.09,4.65l1.12-.31A3,3,0,0,1,13,23.24V27a3,3,0,0,0,3,3A14,14,0,0,0,30,15.46,14.05,14.05,0,0,0,16.54,2Zm8.11,22.31A11.93,11.93,0,0,1,16,28a1,1,0,0,1-1-1V23.24a5,5,0,0,0-5-5,5.07,5.07,0,0,0-1.33.18l-1.12.31A2.82,2.82,0,0,1,4,16,12,12,0,0,1,16.47,4,12.18,12.18,0,0,1,28,15.53,11.89,11.89,0,0,1,24.65,24.32Z"
              />
              <rect
                id="_Transparent_Rectangle_"
                data-name="&lt;Transparent Rectangle&gt;"
                class="cls-1"
                width="32"
                height="32"
              />
            </svg>
            <span>Color</span>
          </a>
        </li>
      </ul>
    </aside>
    <footer></footer>
    <script src="index.js"></script>
  </body>
</html>
